<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.lajotasoftware.petshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Petshop"
        android:roundIcon="@mipmap/imgpetshop"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShop">

        <activity
            android:name=".activity.telaservicos"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telacadastros"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telacadastrodono"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telacadastroservicos"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telacadastropet"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telaselecionaservico"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telaadicionaservico"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.telamain"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>